<div class="top">
  <div class="container">
    <div class="background">
      <p class="top_text">
      　<br>
        　<br>　自分のファッションを<br>　　　　　　投稿しよう！<br>
        　　<br>
        　　　　　みんなのファッションを<br>
        　　　　　　　　　　　見てみよう！<br>
        　<br>
        　<br>
        　<br>
        <p class="top_text_sub">
          このアプリは自分のコーディネートを投稿し、<br>
          ユーザー同士で「今日」のファッションを<br>見ることが出来るアプリです<br>
          　　<br>
        </p>
      </p>
    
    </div>

  <div class="top_image">
    <%= image_tag  "img3.0.png", :size => '340x575' ,class:'posttoday' %>
  </div>

  <div class="second_image">
    <div class="second_image_content">
      <%= image_tag  "t-shirt.jpg", :size => '168x217' %>
    </div>

    <div class="second_image_content">
      <%= image_tag  "vans.jpg", :size => '168x217' ,class:'posttoday' %>
    </div>
  </div>

  <div class="sign_up">
    <%= link_to  new_user_registration_path do %>
      <p>新規登録はこちらから</p>
    <% end %>
  </div>

  <div class="sign_up">
    <%= link_to  user_session_path do %>
      <p>ログインはこちらから</p>
    <% end %>
  </div>
</div>
</div>


