<div class="container">
  <h2>Edit Fashion</h2>
  <%= form_with(model:@fashion ,url: fashion_path ,method: 'put' ,local: true) do |f| %>
    <%# image %>
    <div>
      <%= f.label :image, 'Fashion', class:"label" %>
    </div>
    <div class="field">
      <%= f.file_field :image ,class: "text" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>

    <%# 名前 %>
    <div>
      <%= f.label :name, 'Name', class:"label" %>
    </div>
    <div class="field">
      <%= f.text_field :name ,class: "text" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>

    <%# Tops %>
    <div>
      <%= f.label :tops, 'Tops', class:"label" %>
    </div>

    <div class="field">
      <%= f.text_field :tops ,class: "text" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Pants %>
    <div>
      <%= f.label :pants, 'Pants', class:"label" %>
    </div>

    <div class="field">
      <%= f.text_field :pants ,class: "text" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Shoes %>
    <div>
      <%= f.label :shoes, 'Shoes', class:"label" %>
    </div>

    <div class="field">
      <%= f.text_field :shoes ,class: "text" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Other %>
    <div>
      <%= f.label :other, 'Other',class:"label" %>
    </div>

    <div class="field">
      <%= f.text_area :other, class: "text_area" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Description %>
    <div>
      <%= f.label :description, 'Description',class:"label" %>
    </div>

    <div class="field">
      <%= f.text_area :description, class: "text_area" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Submit %>
    <div>
      <%= f.submit '保存', class: "btn" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <% end %>
</div>