<div class="container">
  <% if user_signed_in? %>
    <% if flash[:notice] %>
      <p class="flash"><%= flash[:notice] %></p>
    <% end %>
  
  <div class="tabs">
    <div class="<%= 'active' if current_page?(root_path) %> tabs_item">
      <%= link_to "新着記事一覧",root_path %>
    </div>
    <div class="<%= 'active' if current_page?(timeline_path) %> tabs_item">
      <%= link_to "タイムライン",timeline_path %>
    </div>
  </div>

  <% @fashions.each do |f| %>
    <%= link_to fashion_path(f),class:"link_path" do %> 
<div class="article">
      <div class="article_name"><%= f.name %><br></div>
      <div class="article_image"><%= image_tag(f.image) if f.image.attached? %><br></div>


      <div class="article_content">
        <div class="article_content_name">Tops</div>
        <%= f.tops %><br>
        <div class="article_content_name">Pants</div>
        <%= f.pants %><br>
        <div class="article_content_name">Shoes</div>
        <%= f.shoes %><br>
        <div class="article_content_name">Other</div>
        <%= f.other %><br>
        <div class="article_content_name">Description</div>
        <%= f.description %><br>
        <div class="card_line"></div>
      </div>  
    <% end %>  
    </div>
  <% end %>
  
  <div class="post_btn">
    <%= link_to new_fashion_path, class:"link_path" do %>
      <%= image_tag  "鉛筆ボタン.png" %>
    <% end %>
  </div>
  <% else %>
    <%= render 'toppage' %>
  <% end %>
</div>
