.container
  - if user_signed_in?
    - if flash[:notice]
      %p.flash= flash[:notice]
    .tabs
      %div{:class => "#{'active' if current_page?(root_path)} tabs_item"}
        = link_to "新着記事一覧",root_path
      %div{:class => "#{'active' if current_page?(timeline_path)} tabs_item"}
        = link_to "タイムライン",timeline_path
    - @fashions.each do |f|
      = link_to fashion_path(f),class:"link_path" do
        .article
          .article_title
            .article_name
              = f.name
              %br/
            .article_image
              = image_tag(f.image) if f.image.attached?
              %br/
          .like_count
            いいね👍
            =f.like_count

          .article_content
            .article_content_name Tops
            = f.tops
            %br/
            .article_content_name Pants
            = f.pants
            %br/
            .article_content_name Shoes
            = f.shoes
            %br/
            .article_content_name Other
            = f.other
            %br/
            .article_content_name Description
            = f.description
            %br/
            .card_line
      .post_btn
        = link_to new_fashion_path, class:"link_path" do
          = image_tag  "鉛筆ボタン.png"
  - else
    = render 'toppage'
