<div class="container">
<% if user_signed_in? %>  
  <% if flash[:notice] %>
    <p class="flash"><%= flash[:notice] %></p>
  <% end %>
  <div class="article">
    <div class="article_name"><%= @name %><br></div>
    <div class="article_image"><%= image_tag(@image) if @image.attached? %><br></div>
    <div class="article_content">
  <div class="dropdown">  
  <% if current_user.fashions.exists?(id: @fashion.id) %>
    <%= image_tag 'dot.png' ,class:"dot" %>
    <div class="dropdown_content">
      <%= link_to "Edit", edit_fashion_path(params[:id]) %>
      <%= link_to "delete", fashion_path(params[:id]), data: {method: 'delete', confirm:"本当に削除しても良いですか？"} %>
    </div>
  <% end %>  
  </div>  
  
      <div class="article_content_name">Tops</div>
        <%= @tops %><br>
      <div class="article_content_name">Pants</div>
        <%= @pants %><br>
      <div class="article_content_name">Shoes</div>
        <%= @shoes %><br>
      <div class="article_content_name">Other</div>
        <%= @other %><br>
      <div class="article_content_name">Description</div>
        <%= @description %><br>
      <div class="line"></div>
    </div>  
  </div>

  <% else %>
    <h2>Loginしてください</h2>
  <% end %>

  <h2>Comment</h2>

  <% @comments.each do |f| %>
    <%= f.comment %>
  <% end %>


    <%= link_to new_fashion_comment_path(params[:id]),class:"link_path" do %> 
      <h4>Comment</h4>
    <% end %>
</div>
