.container#fashion-show{data: {fashion_id: @fashion.id}}
  - if user_signed_in?
    - if flash[:notice]
      %p.flash= flash[:notice]
    .article
      .article_name
        = @name
        %br/
      .article_image
        = image_tag(@image) if @image.attached?
        %br/
      .article_content
        .dropdown
          - if current_user.fashions.exists?(id: @fashion.id)
            = image_tag 'dot.png' ,class:"dot"
            .dropdown_content
              = link_to "Edit", edit_fashion_path(params[:id])
              = link_to "delete", fashion_path(params[:id]), data: {method: 'delete', confirm:"本当に削除しても良いですか？"}
        
        .index_avatar
          = link_to account_path(params[:id]) do
            - if current_user.profile&.avatar&.attached?
              = image_tag(@profile.avatar) if @profile.avatar.attached?
              %div= @profile.nickname
            - else
              = image_tag 'avatar.png' ,:size => '50x50'
          

        .heart.hidden.active-heart
          = image_tag 'heart-active.svg'

        .heart.hidden.inactive-heart
          = image_tag 'heart.svg'

        .article_content_name Tops
        = @tops
        %br/
        .article_content_name Pants
        = @pants
        %br/
        .article_content_name Shoes
        = @shoes
        %br/
        .article_content_name Other
        = @other
        %br/
        .article_content_name Description
        = @description
        %br/
        .line
    .comment_title
      %h2 コメント一覧
    .comment_container


    .new_comment.show-comment-form
      .user_comment
        コメントを追加
    .comment_text_area.hidden
      = text_area_tag :comment_comment, '' ,class: 'text_area_comment'
      .new_comment.add-comment-button
        .user_comment 
          コメントを追加

  - else
    = render 'toppage'
  = javascript_pack_tag 'fashion'
