<!DOCTYPE html>
<html>
  <head>
    <title>PostToday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=davice-width, initial-scale=1.0">
  </head>
  <header class="header">
  <% if user_signed_in? %>
    <div class="dropdown">  
      <div class="avatar">
      <% if current_user.profile&.avatar&.attached? %>      
        <%= image_tag(@profile.avatar) if @profile.avatar.attached? %>
      <% else %>  
        <%= image_tag 'avatar.png' ,:size => '50x50' %>
      <% end %>  
      <div class="dropdown_content">
        <%= link_to "プロフィール", profile_path %>
        <%= link_to "お気に入り一覧", favorites_path %>
      </div>
      </div>  
        <% else %>
      <div class="dropdown">
        <div class="avatar">
            <%= image_tag 'avatar.png' ,:size => '50x50' %>
          <div class="dropdown_content">
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", user_session_path %>
          </div>
        </div>
      </div>    
      <% end %> 
    </div>

    <div class="container">
      <%= link_to root_path,class:"link_path" do %>
      <%= image_tag 'posttoday.png', :size => '200x50' %>
      <% end %>
    </div>


    <div class="line"></div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
